<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Country Explorer</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <script src="https://kit.fontawesome.com/35ce41c7eb.js" crossorigin="anonymous"></script>
</head>
<body>

  <header>
    <div class="header">
      <h1>Country Details</h1>
    </div>
  </header>