*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

/* country.ejs */
.country-card {
  max-width: 500px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
}

.flag {
  width: 150px;
  display: block;
  margin-bottom: 15px;
}

/* region.ejs */
.country-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.country-card-small {
  border: 1px solid #ddd;
  padding: 15px;
  text-decoration: none;
  color: black;
  border-radius: 8px;
}

.country-card-small img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  margin-bottom: 10px;
}

.country-card-small:hover {
  background-color: #f5f5f5;
}
