<%- include("partials/header.ejs") %>

<main>
  <section>
    <form action="/country" method="get">
      <input type="text" name="name" placeholder="Enter country name" required>
      <button type="submit">Search</button>
    </form>

    <h3>Or filter by region:</h3>
    <form action="/region" method="get">
      <select name="region">
        <option value="Africa">Africa</option>
        <option value="Americas">Americas</option>
        <option value="Asia">Asia</option>
        <option value="Europe">Europe</option>
        <option value="Oceania">Oceania</option>
        <option value="Antarctica">Antarctica</option>
      </select>
      <button type="submit">Filter</button>
    </form>
  </section>
</main>


<%- include("partials/footer.ejs") %>